body{
  margin: 0;
  padding: 0;
}
header{
  background: #04f6c2;
  color: white;
  padding: 1rem;
}
main{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.name,.symbol,.image,.price,.index{
  text-align: center;
  padding: 1rem;
}
.picture{
  width: 2rem;
  height: 2rem;
}
th{
  padding: 1rem;
}
table{
  background: rgb(202, 202, 202);
  margin: 1rem;
  border-radius: 1rem;
}
.searchBlock{
  padding: 1rem;
}
.searchBlockTable{
  padding-top:1rem ;
}
.searchTable{
  margin: 0;
}
.container>h2{
  padding: 1rem;
}


